@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
.shopTitle{
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
}
.shop {
    margin: 0 auto;
    max-width: 5000px;
    padding: 20px;
  }


  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }


  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create a flexible grid with 3 columns */
    grid-gap: 20px; /* Add some gap between products */
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
  }




button{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 767px) {
  .shop {
    max-width: 900px;
    background-color: white;
  }

  .product {
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 400px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products{
    margin-left: 2%;
  }
}

@media (max-width: 1024px) {
  .products{
    margin-left: 2%;
  }
}

@media (min-width: 1280px) {
  .products{
    margin-left: 20%;
  }
}

.product-name{
    display: flex;
    align-items: center;
    justify-content: center;
}