.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    color: white;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; 
}

.links{
    margin-right: 150px;
    position: fixed;
    right: 0;
    display: flex;

}

.links button{
    margin-right: 20px;
}

.links span{
    margin-top: 10px;
}
.links a{
    text-decoration: none;
    color:  #32BDBD;
    margin-left: 20px;
    font-size: 25px;
    margin-right: 10px;
}
.logo {
    color: #32BDBD;
    display: flex;
    align-items: center;
}

.logo img{
    width: 20%;
}

.logo span{
    margin-left: -590px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown button{
    height: 50px;
    background-color: transparent;
}
  
  .account-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 2px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 20px;
  }

  .dropdown-content button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .dropdown-content a:hover {
    background-color: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .cart-btn{
    background-color: transparent;
    border: 0px;
    margin-right: 50px;
    position: fixed;
    right: 0;
    display: flex;
  }

.cart-btn a{
    color: black;
}


@media (max-width: 767px) {
    .links{
        right: 0;
        margin-top: 10px;
        margin-left: 10px;
    }
    .logo span {
      display: none;
   }
  
  
   .cart-btn span {
      display: none;
   }
 
   .cart-btn{
     margin-top:12px;
   }
  
   .dropdown-content {
      right: 0;
      top: 0;
      height: 20vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: white;
      color: black;
   }
 
  
   .dropdown-content a {
      color: black;
   }
  
   .dropdown-content a:hover {
      color: black;
   }
  
   .dropdown {
      display: inline-flex;
      margin-left: 50px;
   }
}

@media (max-width: 1024px) {
    .links{
        position: fixed;
        right: 0;
        margin-top: 10px;
        
    }
}

@media (max-width: 900px) {
  .logo span {
     display: none;
  }
 
  .dropdown span {
     display: flex;
  }
 
  .cart-btn span {
     display: none;
  }

  .cart-btn{
    margin-top:12px;
  }
 
  .dropdown-content {
     right: 0;
     top: 0;
     width: 100px;
     height: 20vh;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     background-color: white;
     color: black;
  }

 
  .dropdown-content a {
     color: black;
  }
 
  .dropdown-content a:hover {
     color: black;
  }

  .dropdown {
     display: inline-flex;
     align-items: center;
     margin-right: -60px;
  }
 }