.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 220px;
    width: 400px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    position: relative;
    margin-right: 10px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
  }
  
  .input-group input:focus {
    border-color: #007bff;
  }
  
  .input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
    color: #777;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    top: -12px;
    left: 6px;
    font-size: 12px;
    background-color: #fff;
    padding: 2px 5px;
    color: #007bff;
  }
  
  button[type="submit"] {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    width: 200px;
  }
  
  button[type="submit"]:hover {
    background-color: #00ced1;
  }

  @media (max-width: 768px) {
    .login-container{
      margin-right: 70px;
    }
  }
  